.item {
  margin-top: 20px;
}

.products {
  margin-left: 60px;
  margin-right: 200px;
}

h5 {
  margin-left: 50px;
}

.finalizar {
  margin-top: 30px;
}

.frete {
  margin-top: 20px;
}

.total {
  margin-top: 40px;
}

